body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background:linear-gradient(#adb5bd,#dee2e6);
    transition: 0.5s ease-in-out;
    color: #333333;
}

body.modo-escuro {
    background:linear-gradient(#343a40, #212529);
    color: #f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.logo,
.imagem-botao,
.navegacao__logo {
    width: 30px;
    transition: 0.5s ease-in-out;
}

#botao-alterar-tema {
    background: none;
    border: none;

}

.logo:hover,
header,
.imagem-botao:hover,
.cartao-pokemon:hover {
    transform: scale(1.05);

}

main {
    padding: 25px;
}

#pesquisa-nome {
    border: 3px solid #333333;
    outline: none;
    background: none;
    transition: width 1s ease-out;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 25px;
}

#pesquisa-nome:focus {
    border: 3px solid #582965;
    border-radius: 25px;
    width: 100%;
    z-index: 1;
    transition: width 1s ease-in;
}

.img-som{
    width: 25px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
   
}

.img-som:hover{
    transform: scale(1.05);
}
.botao{
 background-color: transparent;
 border: none;
}