.grama{
    background-color: #7ac74c;
}

.veneno{
    background-color: #df67ddfb;
}
.fogo{
    background-color: #ee8130;
}

.inseto{
    background-color: #a6b91a;
}
.agua{
    background-color: #6390f0;
}

.voador{
    background-color: #c3d8f3;
}